<h1 class="page-header">Listando Departamentos</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Departamentos
    <%= link_to new_department_path, class: "btn btn-success btn-circle pull-right",
        style: "margin-top: -5px" do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% count = 0 %>
          <% @departments.each do |department| %>
            <tr>
              <td> <%= count += 1 %> </td>
              <td> <%= department.name %> </td>
              <td style="width: 150px">
                <%= link_to edit_department_path(department), class: "btn btn-primary btn-circle" do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <button type="button" disabled="disabled" class="btn btn-danger btn-circle">
                  <i class="fa fa-minus"></i>
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
